/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* Centers the circle horizontally */
}

body {
    background-color: #E8F3E9;
    padding: 0px;
    margin: 0px;
}

.bg-primary {
    background-color: #5e6f5ee8 !important;
}

.btn-warning {
    background-color: #5e6f5e;
    border-color: #5e6f5e;
    color: #c1eaba;
}

.dropdown-menu {
    background-color: #94bb8d;
}

.btn-warning:hover {
    background-color: #E8F3E9 !important;
    border-color: #3c493a !important;
}

.navbar {
    border-radius: 0px;
}

.nav-title {
    color: #b0d1b0;
    font-size: 22pt;
}

div.bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #5e6f5ee8;
    height: 50px;
    width: 100%;
    border-radius: 2px;
}

div.nav-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    color: #b0d1b0;
}

div.map {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: 75vh;
    border: 3.75px solid #596a56;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(4, 3, 3, 0.433);
}

iframe {
    background-color:#819a7d;
    border-radius: 4px;
}

footer.d-flex {
    width: 100%;
    bottom: 18px;
    left: 8px;
    position: fixed;
}

div.container {
    margin-top: 100px;
}

div.settingContainer {
    position: relative;
    background-color: #748671;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(4, 3, 3, 0.433);
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    height: 600px;
    color: #2d362d;
}

button#user-tab.nav-link, button#carbon-tab.nav-link, button#contact-tab.nav-link {
    color: hsl(113, 11%, 45%);
}

button#user-tab.nav-link:hover, button#carbon-tab.nav-link:hover, button#contact-tab.nav-link:hover {
    color: hsl(115, 31%, 76%);
    background-color: #748371;
}

#user-tab.nav-link.active, #carbon-tab.nav-link.active, #contact-tab.nav-link.active {
    background-color: #262926;
}

#ctl05_ddlCarMake, #ctl05_ddlCarModel, #ctl05_ddlCarDerivative {
    width: 90px;
}

input#consumption, input#distance {
    width: 100px;
    background-color: #748671;
    border-radius: 10px;
    border-color: #748671;
    box-shadow: 0px 5px 10px rgba(4, 3, 3, 0.231);
    margin: 10px;
    color: #b0d1b0;
}

input#consumption:hover, input#distance:hover {
    background-color: #5e6f5e;
}

button {
    background-color: #5e6f5e;
    border-radius: 10px;
    border-color: #748671;
    box-shadow: 0px 5px 10px rgba(4, 3, 3, 0.11);
    margin: 3px;
    color: #2d362d;
}

button:hover {
    background-color: #748671;
    color: #b0d1b0;
}

form#emissionForm {
    margin-bottom: 20px;
}

div.settingContainer h1, div.settingContainer h2 {
    background-color: #5e6f5e;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: 0px 5px 10px rgba(4, 3, 3, 0.298);
}

p#carbonResults {
    font-weight: bold;
    font-size: large;
    color: #bce6bc;
    text-decoration: underline;
}